:root {
    --box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator {
    height: 600px;
    width: 500px;
    background-color: midnightblue;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#header{
    height:k;
}

#display {
    height: auto;
    width: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightcyan;
    font-family: tahoma;
    font-size: 56px;
    border: solid 5px mediumslateblue;
    border-radius: 100%;
}

.button {
    height: 100px;
    width: 100px;
    background-color: mediumslateblue;
    border-radius: 100%;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-family: system-ui, -apple-system;
    font-size: 400%;
    color: darkslategrey;
    text-shadow: 2px 0 10px maroon, 2px 2px black;
}
button:hover{
    background-color:slateblue;
}
button:focus{
    background-color:darkslateblue;
    color: aquamarine;
    text-shadow: 2px 0 10px fuchsia, 2px 2px azure;
}
#numbers {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.operator {
    height: 100px;
    width: 100px;
    background-color: mediumslateblue;
    border-radius: 100%;
    border: solid 20px blueviolet;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-family: system-ui, -apple-system;
    font-size: 400%;
    color: darkslategrey;
    text-shadow: 2px 0 10px maroon, 2px 2px black;
}

.bottom {
    height: 100px;
    width: 200px;
    background-color: lightslategray;
    border-radius: 50px;
    border: solid 20px darkslategrey;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-family: system-ui, -apple-system;
    font-size: 400%;
    color: darkslategrey;
    text-shadow: 2px 0 10px maroon, 2px 2px black;
}

#clear:focus{
    color: mediumslateblue;
}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}