/*root variable for box shadow, sourced from https://getcssscan.com/css-box-shadow-examples*/
:root {
    --box-shadow: black 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/*body element sets background and flex of calculator itself on page */
body {
    height: 100vh;
    width: 100vw;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(image.png);
}

/*the calculator container, organized using flex column and containing sections for display, operators, numbers, and bottom*/
#calculator {
    height: 700px;
    width: 500px;
    background-color: midnightblue;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    background-image: url(sandro-katalina-k1bO_VTiZSs-unsplash.jpg);
    border: solid 50px indigo;
    padding-left: 50px;
    padding-right: 50px;
}

/*the display is designed with auto height and width, with a solid border, so that the display appears to stretch dynamically*/
/*two text shadows are used to give the shadow a gradient effect*/
#display {
    height: auto;
    width: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgrey;
    text-shadow: 2px 0 10px fuchsia, 6px 6px mediumslateblue;
    font-family: tahoma;
    font-size: 56px;
    border: solid 5px mediumslateblue;
    border-radius: 100%;
}

/*the button class is used for the number buttons and additional functions, flex used to center the text within*/
.button {
    height: 100px;
    width: 100px;
    background-image: url(sandro-katalina-k1bO_VTiZSs-unsplash.jpg);
    background-color: mediumslateblue;
    border-radius: 100%;
    box-shadow: var(--box-shadow);
    border: solid 8px darkslategrey;
    cursor: pointer;
    font-family: system-ui, -apple-system;
    font-size: 450%;
    color: navy;
    text-shadow: 3px 0 6px magenta, 3px 3px azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*hover and focus effect for buttons changes color and shadow*/
button:hover{
    background-color:slateblue;
    color: slateblue;
}
button:focus{
    background-color: darkslateblue;
    color: mediumslateblue;
    text-shadow: 2px 0 10px fuchsia, 2px 2px azure;
}

/*containers for each group of buttons, flex used for each to center contents*/
#numbers {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#operators{
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

/*operator buttons use different colors, also utilizing box-shadow and text-shadow*/
.operator {
    height: 100px;
    width: 100px;
    background-color: darkslateblue;
    border-radius: 100%;
    border: solid 20px darkslategrey;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-family: system-ui, -apple-system;
    font-size: 400%;
    color: mediumslateblue;
    text-shadow: 2px 0 10px magenta, 3px 3px azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*buttons on bottom sized differently*/
.bottom {
    height: 100px;
    width: 160px;
    background-color: darkslateblue;
    border-radius: 50px;
    border: solid 20px darkslategrey;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-family: system-ui, -apple-system;
    font-size: 400%;
    color: mediumslateblue;
    text-shadow: 2px 0 10px fuchsia, 3px 3px azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*clear button changes color upon click*/
#clear:focus{
    color: darkslategray;
    background-color: navy;
}